/* foglio di stile */

*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 30px;
  background-color: white;
  font-size: 12px;
}


.blocco{
  background-color: blue;
  margin: 5px;
}

.prodotto{
  position: relative;
  display: inline-block;
  background-color: lightblue;
  width: 200px;
  height:300px;
}

.prodotto-cuore{

  position: absolute;
  top: 230px;
  right: 75px;
  z-index: 3;
}

/* a:hover + div.prodotto-cuore{
  display:block;
  z-index: 20;
} */


img[alt*="prodotto"]{
  position: relative;
  top: 50px;
  z-index: 1;
  }

.etichetta{
  position: absolute;
  text-align: center;
  padding: 5px;
  width:60px;
  height:20px;
  top:0;
  right:0;
}


.rossa {
background-color: red;
}

.verde {
background-color: green;
}
